*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container {
    width: 1600px;
    height: 4815px;
    margin: 0 auto;
   
}
/* navbar started */

.container header .navbar{
    display: flex;
    padding-top: 50px;
 
}
.container header .navbar .flower{
    margin-left: 30px;
    margin-top: -50px;
}
.container header .navbar p{
    color: #374A3D;
    font-family: Gilroy;
    font-size: 32.317px;
    text-transform: capitalize;
}
.container header .navbar .logo{
    margin-top: -140px;
    margin-left: 30px;
}
.container header .navbar ul{
    display:flex ;
    gap: 40px;
    padding-left: 400px;
}
.container header .navbar ul li a{
    color: #1D3B53;
    font-family: Gilroy;
    font-size: 18px;
}
.container header .navbar ul li a:hover{
    color: #0CA941;
}
.container header .navbar  button{
    width: 110.166px;
    height: 41.528px;
    border-radius: 6px;
    background: #0CA941;
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    border: none;
    margin-left: 50px;
}
.container header .navbar  button:active{
    background-color: #FFF;
    border: #0CA941;
    color: #0CA941;
}
/* navbar ended */
.container header .header_text{
    margin-top: 180px;
    margin-left: 215px;
    
}
.container header .header_text h1{
    color: #374A3D;
    font-family: Fredoka One;
    font-size: 72px;

}
.container header .header_text h1 strong{
    color: #0CA941;
    font-family: Fredoka One;
    font-size: 72px;
}
.container header .header_text p{
    color: #707070;
    font-family: Gilroy;
    font-size: 18px;
    width: 534.473px;
    height: 58.861px;
    margin-top: 40px;
}
.container header .header_text .btn_img{
    transform: rotate();
    padding-top: 58px;
}
.container header .header_women_img{
    margin-left: 800px;
    margin-top: -800px;
    border-radius: 514.186px;
background: rgba(83, 195, 81, 0.33);

}
/* header ended */

/* first section started */
.container .first_section_info{
    display: flex;
    margin-top: 160px;
}
.container .first_section_info img{
    margin-top: -120px;
}
.container .first_section_info .service h2{
    color: #374A3D;
    font-family: Fredoka One;
    font-size: 30px;
}
.container .first_section_info .service p{
    color: #5B7262;
    font-family: Gilroy;
    font-size: 16px;
    padding-top: 10px;
}
.container .first_section_info .project {
    margin-left: 100px;
}
.container .first_section_info .project strong{
    color: #0CA941;
    font-family: Gilroy;
    font-size: 60px;
}
.container .first_section_info .project p{
    color: #678570;
    font-family: Gilroy;
    font-size: 18px;
}
.container .first_section_info .practical {
    margin-left: 75px ;
}
.container .first_section_info .practical strong{
    color: #0CA941;
    font-family: Gilroy;
    font-size: 60px;
}
.container .first_section_info .practical p{
    color: #678570;
    font-family: Gilroy;
    font-size: 18px;
}
.container .first_section_info .team{
    margin-left: 50px;
}
.container .first_section_info .team strong{
    color: #0CA941;
    font-family: Gilroy;
    font-size: 60px;
}
.container .first_section_info .team p{
    color: #678570;
    font-family: Gilroy;
    font-size: 18px;
}
/* first section ended */

/* secon section started */
.container .garden{
    display: flex;
    margin-left: 220px;
    margin-top: 142px;
}
.container .garden .garden_text h2{
    color: #374A3D;
    font-family: Fredoka One;
    font-size: 36px;
}
.container .garden .garden_text p{
    color: #678570;
    font-family: Gilroy;
    font-size: 18px;
    padding-top: 30px;
}
.container .garden .garden_text button{
    background-color: #FFF;
    border-radius: 50px solid #0ca941;
    border: none;
}
/* second section ended */

/* third section started */
.container .professional{
    margin-top: 100px;
    margin-left: 220px;

}
.container .practical .professional_info h2{
    color: #374A3D;
    font-family: Fredoka One;
    font-size: 36px;
}